.menu-block {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
    width: 500px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    font: 16px Arial, sans-serif;
    padding: 10px 0;
}

i {
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}

.icon-remove {
    color: red;
}

.icon-remove:before {
    content: 'x';
}

.icon-edit {
    color: blue;
}

.icon-save {
    color: blue;
    margin-left: 10px;
}

/*.icon-edit:before {*/
/*content: '&#9998';*/
/*}*/

.form-inline > * {
    display: inline-block;
    vertical-align: middle;
}

.form-inline > * + * {
    margin-left: 20px;
}

.form-control {
    border: 1px solid #ccc;
    height: 26px;
    padding: 0 12px;
    width: 140px;
}

.form-error {
    border-color: red;
}

.btn {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px;
    outline: none;
    text-transform: uppercase;
}

.btn.btn-primary {
    background-color: #4192db;
    border-color: #4192db;
    color: #fff;
}

.text-field {
    border: 1px solid #000;
    height: 30px;
    padding: 0 10px;
}

.list-item-edit {
    display: none;
}

.hidden {
    display: none;
}

.edit-text-open {
    display: inline-block;
}